.container {
  width: 80%;
  margin: 20px auto;
}

.container > div {
  margin: 20px auto;
}

form > div {
  margin-bottom: 15px;
}

form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 200px;
  margin-top: 20px;
}
