.primary-bg {
  background-color: #3674b5;
}

.secondary-bg {
  background-color: #578fca;
}

.lightBlue-bg {
  background-color: #a1e3f9;
}

.green-bg {
  background-color: #d1f8ef;
}

.black-txt {
  color: #000000;
}

.white-txt {
  color: #ffffff;
}

.blue-txt {
  color: #3674b5;
}
